<%= form_with(model: presentation, local: true) do |form| %>
  <% if presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
      <% presentation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :presentation_year %>
  </div>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic, id: :presentation_topic %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :presentation_description %>
  </div>

  <div class="field">
    <%= form.label :expositor_id %>
    <%= form.text_field :expositor_id, id: :presentation_expositor_id %>
  </div>

  <div class="field">
    <%= form.label :congress_id %>
    <%= form.text_field :congress_id, id: :presentation_congress_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
