<p id="notice"><%= notice %></p>

<p>
  <strong>Degree:</strong>
  <%= @expositor.degree %>
</p>

<p>
  <strong>Web:</strong>
  <%= @expositor.web %>
</p>

<p>
  <strong>Links:</strong>
  <%= @expositor.links %>
</p>

<p>
  <strong>Suggest:</strong>
  <%= @expositor.suggest %>
</p>

<p>
  <strong>Funding:</strong>
  <%= @expositor.funding %>
</p>

<p>
  <strong>Gestor:</strong>
  <%= @expositor.gestor %>
</p>

<p>
  <strong>Expedition:</strong>
  <%= @expositor.expedition %>
</p>

<p>
  <strong>State:</strong>
  <%= @expositor.state %>
</p>

<p>
  <strong>New gestor:</strong>
  <%= @expositor.new_gestor %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @expositor.comments %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expositor.category %>
</p>

<p>
  <strong>Assistant:</strong>
  <%= @expositor.assistant %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @expositor.bio %>
</p>

<p>
  <strong>Congress:</strong>
  <%= @expositor.congress %>
</p>

<p>
  <strong>User:</strong>
  <%= @expositor.user %>
</p>

<p>
  <strong>Congress:</strong>
  <%= @expositor.congress %>
</p>

<%= link_to 'Edit', edit_expositor_path(@expositor) %> |
<%= link_to 'Back', expositors_path %>
