<p id="notice"><%= notice %></p>

<h1>Expeditions</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Place</th>
      <th>Participants</th>
      <th>Responsable</th>
      <th>Expositor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expeditions.each do |expedition| %>
      <tr>
        <td><%= expedition.year %></td>
        <td><%= expedition.place %></td>
        <td><%= expedition.participants %></td>
        <td><%= expedition.responsable %></td>
        <td><%= expedition.expositor %></td>
        <td><%= link_to 'Show', expedition %></td>
        <td><%= link_to 'Edit', edit_expedition_path(expedition) %></td>
        <td><%= link_to 'Destroy', expedition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expedition', new_expedition_path %>
